@import '../abstract/variaveis';

@include flexCenter() {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center; 
}

main {
 display: flex;
 flex-direction: row;
 margin-top: 50px;

 h2{
    font-size: 62px;
    line-height: 10px;
    font-family: $font;

    span {
        color: rgb(132, 14, 201);
    }
 }

 p {
    line-height: 20px;
    max-width: 500px;
 }
 img {
   width: 600px;
 }
}